<div class="nav-sidebar-wrapper">
    <img src="/assets/images/pubg_logo.png" alt="PUBG MOBILE NEPAL" class="nav-logo" />
    <nav>
        <ul>
            <li class="<%= path === '/' ? 'list-active' : '' %>">
                <a href="/" target="_self">Dashboard</a>
            </li>
            <li class="<%= path === '/upcoming-match' ? 'list-active' : '' %>">
                <a href="/upcoming-match" target="_self">Upcoming Matches</a>
            </li>
            <li class="<%= path === '/upcoming-tournament' ? 'list-active' : '' %>">
                <a href="" target="_self">Upcoming Tournament</a>
            </li>
            <li class="<%= path === '/match-highlights' ? 'list-active' : '' %>">
                <a href="/match-highlights" target="_self">Match Hightlights</a>
            </li>
            <li class="<%= path === '/recent-winner' ? 'list-active' : '' %>">
                <a href="" target="_self">Recent Winner</a>
            </li>
            <li class="<%= path === '/update-blog' ? 'list-active' : '' %>">
                <a href="" target="_self">Update & Blog</a>
            </li>
            <li class="<%= path === '/contact' ? 'list-active' : '' %>">
                <a href="" target="_self">Contact Us</a>
            </li>
            <li class="<%= path === '/support' ? 'list-active' : '' %>">
                <a href="" target="_self">Support Us</a>
            </li>
        </ul>
    </nav>
</div>