<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Match Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/admin/style-AdminMatchDetails.css">
    <link rel="icon" href="/assets/images/Logo.png" type="image/png">
</head>

<body>
    <section>
        <!-- <header>
            <div class="row-center-content">
                <h3 class="heading-title">PUBG MOBILE NEPAL ADMIN PANEL</h3>
            </div>
        </header> -->

        <main class="row-center-content">
            <div class="row">
                <div class="card col-md-6">
                    <div class="card-body">
                        <h4>Match Will Start In:</h4>
                        <% if(data.status.isFinished == "true") { %>
                        <h5 class="text-time">GAME OVER</h5>
                        <% }else if(data.status.isFinished == "technical error") { %>
                        <h5 class="text-time" style="color: #e74c3c;">Technical Error</h5>
                        <% } else { %>
                        <h5 class="text-time"><%= data.time %></h5>
                        <% } %>
                        <div class="row" style="padding-top: 20px;">
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td>Date:</td>
                                        <td>
                                            <span>
                                                <input type="text" id="date" value="<%= data.date %>"
                                                    class="input-field" aria-describedby="dateHelp" />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                                <small id="dateHelp" class="form-text text-muted">*Format for writing date is
                                    (YYYY-MM-DD)</small>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td>Time:</td>
                                        <td>
                                            <span>
                                                <input type="text" id="time" value="<%= data.time %>"
                                                    class="input-field" aria-describedby="timeHelp" />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                                <small id="timeHelp" class="form-text text-muted">*Format for writing time is (h:mm
                                    AM)</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td>
                                            <label for="match-type">Type: </label>
                                        </td>
                                        <td>
                                            <% if(data.type === "SOLO") { %>
                                            <div class="dropdown">
                                                <select id="match-type" name="match-type">
                                                    <option value="Solo" selected>Solo</option>
                                                    <option value="Duo">Duo</option>
                                                    <option value="Squad">Squad</option>
                                                </select>
                                            </div>
                                            <% }else if(data.type === "DUO"){ %>
                                            <div class="dropdown">
                                                <select id="match-type" name="match-type">
                                                    <option value="Solo">Solo</option>
                                                    <option value="Duo" selected>Duo</option>
                                                    <option value="Squad">Squad</option>
                                                </select>
                                            </div>
                                            <% }else if(data.type === "SQUAD") { %>
                                            <div class="dropdown">
                                                <select id="match-type" name="match-type">
                                                    <option value="Solo">Solo</option>
                                                    <option value="Duo">Duo</option>
                                                    <option value="Squad" selected>Squad</option>
                                                </select>
                                            </div>
                                            <% } %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td>
                                            <label for="match-type">Device: </label>
                                        </td>
                                        <td>
                                            <% if(data.device === "MOBILE") { %>
                                            <div class="dropdown">
                                                <select id="match-device" name="match-device">
                                                    <option value="Mobile" selected>Mobile</option>
                                                    <option value="Emulator">Emulator</option>
                                                </select>
                                            </div>
                                            <% }else if(data.device === "EMULATOR") { %>
                                            <div class="dropdown">
                                                <select id="match-device" name="match-device">
                                                    <option value="Mobile">Mobile</option>
                                                    <option value="Emulator" selected>Emulator</option>
                                                </select>
                                            </div>
                                            <% } %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td style="width: 32%;">Total Team:</td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td>
                                            <label for="match-type">Map: </label>
                                        </td>
                                        <td>
                                            <% if(data.map === "LIVIK") { %>
                                            <div class="dropdown">
                                                <select id="match-map" name="match-map">
                                                    <option value="Livik" selected>Livik</option>
                                                    <option value="Erangle">Erangle</option>
                                                    <option value="Miramar">Miramar</option>
                                                    <option value="Sanhok">Sanhok</option>
                                                </select>
                                            </div>
                                            <% }else if(data.map === "ERANGLE") { %>
                                            <div class="dropdown">
                                                <select id="match-map" name="match-map">
                                                    <option value="Livik">Livik</option>
                                                    <option value="Erangle" selected>Erangle</option>
                                                    <option value="Miramar">Miramar</option>
                                                    <option value="Sanhok">Sanhok</option>
                                                </select>
                                            </div>
                                            <% }else if(data.map === "MIRAMAR") { %>
                                            <div class="dropdown">
                                                <select id="match-map" name="match-map">
                                                    <option value="Livik">Livik</option>
                                                    <option value="Erangle">Erangle</option>
                                                    <option value="Miramar" selected>Miramar</option>
                                                    <option value="Sanhok">Sanhok</option>
                                                </select>
                                            </div>
                                            <% }else if(data.map === "SANHOK") { %>
                                            <div class="dropdown">
                                                <select id="match-map" name="match-map">
                                                    <option value="Livik">Livik</option>
                                                    <option value="Erangle">Erangle</option>
                                                    <option value="Miramar">Miramar</option>
                                                    <option value="Sanhok" selected>Sanhok</option>
                                                </select>
                                            </div>
                                            <% } %>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td style="width: 28%;">Entry Fee:</td>
                                        <td>
                                            <span>
                                                <input type="text" id="fee" value="<%= data.fee %> NRS"
                                                    class="input-field" aria-describedby="entryFeeHelp" />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                                <small id="entryFeeHelp" class="form-text text-muted">*Format for writing entry fee is
                                    (100 NRS)</small>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td style="width: 35%;">Winning Prize:</td>
                                        <td>
                                            <span>
                                                <input type="text" id="winning_prize" value="<%= data.prize %> NRS"
                                                    class="input-field" aria-describedby="winningPrizeHelp" />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                                <small id="winningPrizeHelp" class="form-text text-muted">*Format for writing prize fee
                                    is (5000 NRS)</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td style="width: 20%;">
                                            <label for="match-status">Status: </label>
                                        </td>
                                        <td>
                                            <% if(data.status.isFinished == "false") { %>
                                            <div class="dropdown">
                                                <select id="match-status" name="match-status">
                                                    <option value="registration closed">Registration Closed</option>
                                                    <option value="technical error">Technical Error</option>
                                                    <option value="false" selected>Registration Opened</option>
                                                    <option value="true">Match Finished</option>
                                                </select>
                                            </div>
                                            <% }else if(data.status.isFinished == "true") { %>
                                            <div class="dropdown">
                                                <select id="match-status" name="match-status">
                                                    <option value="registration closed">Registration Closed</option>
                                                    <option value="technical error">Technical Error</option>
                                                    <option value="false">Registration Opened</option>
                                                    <option value="true" selected>Match Finished</option>
                                                </select>
                                            </div>
                                            <% }else if(data.status.isFinished === "registration closed") { %>
                                            <div class="dropdown">
                                                <select id="match-status" name="match-status">
                                                    <option value="registration closed" selected>Registration Closed
                                                    </option>
                                                    <option value="technical error">Technical Error</option>
                                                    <option value="false">Registration Opened</option>
                                                    <option value="true">Match Finished</option>
                                                </select>
                                            </div>
                                            <% }else if(data.status.isFinished === "technical error") { %>
                                            <div class="dropdown">
                                                <select id="match-status" name="match-status">
                                                    <option value="registration closed">Registration Closed</option>
                                                    <option value="technical error" selected>Technical Error</option>
                                                    <option value="false">Registration Opened</option>
                                                    <option value="true">Match Finished</option>
                                                </select>
                                            </div>
                                            <% } %>
                                        </td>
                                    </tr>
                                </table>
                                <small id="entryFeeHelp" class="form-text text-muted">
                                    *Registration Closed => No New Team will be able to register <br />
                                    *Technical Error => Match is cancelled because of technical Error <br />
                                    *Open Registration => New Team will be able to register <br />
                                    *Match Finished => Match has been played and completed

                                </small>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td style="width: 28%;">Match Id: </td>
                                        <td class="match_id"><%= data._id %></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="spinner-border text-primary" role="status" id="btn-match--update-spinner">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <button type="button" class="btn btn-primary btn-view--details" id="btn-match--update">Update
                        Match
                        Status</button>
                </div>
                <div class="card col-md-5" style="margin-left: 15px;padding-bottom: 20px;">
                    <h5 class="winning-team--title">Winning Team Members Name</h5>

                    <div class="row winning-team--wrapper">
                        <div class="alert alert-success" role="alert" id="winningTeam-success--wrapper"></div>
                        <div class="alert alert-danger" role="alert" id="winningTeam-error--wrapper"></div>
                    </div>
                    <% if(data.status.winner.members.length > 0) { %>
                    <div class="row winning-team--wrapper">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td style="width: 18%;">User ID:</td>
                                    <td>
                                        <span>
                                            <input type="text" value="<%= data.status.winner.user_id %>" id="user_id"
                                                class="input-field" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row winning-team--wrapper">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Team Name:</td>
                                    <td>
                                        <span>
                                            <input type="text" value="<%= data.status.winner.team_name %>"
                                                id="team_name" class="input-field" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h6>Members Name With Character Id:</h6>
                    <div class="row member-team--wrapper">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member One Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" value="<%= data.status.winner.members[0].name %>"
                                            id="member_one_name_input" class="input-field"
                                            aria-describedby="timeHelp" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member One Char Id:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span>
                                            <input type="text" value="<%= data.status.winner.members[0].character_id %>"
                                                id="member_one_char" class="input-field" aria-describedby="timeHelp" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row member-team--wrapper">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Two Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" value="<%= data.status.winner.members[1].name %>"
                                            id="member_two_name_input" class="input-field"
                                            aria-describedby="timeHelp" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Two Char Id:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span>
                                            <input type="text" value="<%= data.status.winner.members[1].character_id %>"
                                                id="member_two_char" class="input-field" aria-describedby="timeHelp" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row member-team--wrapper">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Three Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" value="<%= data.status.winner.members[2].name %>"
                                            id="member_three_name_input" class="input-field"
                                            aria-describedby="timeHelp" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Three Char Id:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span>
                                            <input type="text" value="<%= data.status.winner.members[2].character_id %>"
                                                id="member_three_char" class="input-field"
                                                aria-describedby="timeHelp" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row member-team--wrapper">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Four Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" value="<%= data.status.winner.members[3].name %>"
                                            id="member_four_name_input" class="input-field"
                                            aria-describedby="timeHelp" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Four Char Id:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span>
                                            <input type="text" value="<%= data.status.winner.members[3].character_id %>"
                                                id="member_four_char" class="input-field" aria-describedby="timeHelp" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <% } else { %>
                    <div class=" row winning-team--wrapper">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td style="width: 18%;">User ID:</td>
                                    <td>
                                        <span>
                                            <input type="text" value="<%= data.status.winner.user_id %>" id="user_id"
                                                class="input-field" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row winning-team--wrapper">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Team Name:</td>
                                    <td>
                                        <span>
                                            <input type="text" id="team_name" class="input-field" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h6>Members Name With Character Id:</h6>
                    <div class="row member-team--wrapper">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member One Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" id="member_one_name_input" class="input-field"
                                            aria-describedby="timeHelp" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member One Char Id:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span>
                                            <input type="text" id="member_one_char" class="input-field"
                                                aria-describedby="timeHelp" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row member-team--wrapper">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Two Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" id="member_two_name_input" class="input-field"
                                            aria-describedby="timeHelp" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Two Char Id:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span>
                                            <input type="text" id="member_two_char" class="input-field"
                                                aria-describedby="timeHelp" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row member-team--wrapper">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Three Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" id="member_three_name_input" class="input-field"
                                            aria-describedby="timeHelp" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Three Char Id:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span>
                                            <input type="text" id="member_three_char" class="input-field"
                                                aria-describedby="timeHelp" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row member-team--wrapper">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Four Name:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="text" id="member_four_name_input" class="input-field"
                                            aria-describedby="timeHelp" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td style="width: 18%;">Member Four Char Id:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span>
                                            <input type="text" id="member_four_char" class="input-field"
                                                aria-describedby="timeHelp" />
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <% } %>

                    <div class="row member-team--wrapper" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td style="width: 28%; padding-bottom: 17px;">Match Highlights: </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <% if(data.highlights) { %>
                                        <span>
                                            <input type="text" id="match-highlights"
                                                class="input-field match-highlights" value="<%= data.highlights %>" />
                                        </span>
                                        <% } else { %>
                                        <span>
                                            <input type="text" id="match-highlights"
                                                class="input-field match-highlights" />
                                        </span>
                                        <% } %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>



                    <div class="btn--wrapper">
                        <div class="spinner-border text-success" role="status" id="btn--update--details-spinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <button type="button" class="btn btn-success btn-update--details">Update</button>
                    </div>
                    <button type="button" class="btn btn-danger btn-discard">Discard</button>
                </div>
            </div>
        </main>

        <main class="row-center-content team-name--wrapper">
            <h3>All Registered Team of this match:</h3>
            <% if(data.players.length > 0) { %>
            <% data.players.forEach((el)=> { %>
            <div class="card" style="text-align: center; margin: 10px 0;">
                <div class="row">
                    <div class="col-md-6">
                        <p>Team Name: <span class="team-name"><%= el.team_name %></span></p>
                    </div>

                    <div class="col-md-6">
                        <p>Player Id: <span class="winner_user_id"><%= el.user_id %></span></p>
                    </div>
                </div>
                <h6>Team Members:</h6>
                <div class="row">
                    <div class="col-md-6 team-members-name" id="member_one_name">
                        <%= el.team_members[0].name %>
                    </div>
                    <div class="col-md-6 team-members-name" id="member_one_charId">
                        <%= el.team_members[0].character_id %>
                    </div>
                    <div class="col-md-6 team-members-name" id="member_two_name">
                        <%= el.team_members[1].name %>
                    </div>
                    <div class="col-md-6 team-members-name" id="member_two_charId">
                        <%= el.team_members[1].character_id %>
                    </div>
                    <div class="col-md-6 team-members-name" id="member_three_name">
                        <%= el.team_members[2].name %>
                    </div>
                    <div class="col-md-6 team-members-name" id="member_three_charId">
                        <%= el.team_members[2].character_id %>
                    </div>
                    <div class="col-md-6 team-members-name" id="member_four_name">
                        <%= el.team_members[3].name %>
                    </div>
                    <div class="col-md-6 team-members-name" id="member_four_charId">
                        <%= el.team_members[3].character_id %>
                    </div>
                </div>
                <% if(data.status.winner.members.length < 0) { %>
                <button type="button" class="btn btn-info btn--winner">Select Winner</button>
                <% } %>
            </div>
            <% }) %>
            <% } else{ %>
            <p style="text-transform: uppercase;">No Team Has been Registered yet</p>
            <% } %>
        </main>
    </section>
    <script src="/assets/js/admin/admin-MatchDetails.js"></script>
</body>

</html>