<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/admin/style-AdminDashboard.css">
    <link rel="icon" href="/assets/images/Logo.png" type="image/png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
</head>

<body>
    <section>
        <header>
            <div class="row-center-content">
                <h3 class="heading-title">PUBG MOBILE NEPAL ADMIN PANEL</h3>
            </div>
        </header>
        <div class="alert alert-danger" role="alert" id="matchSearch-error--wrapper"></div>
        <div class="input-group mb-3 row-center-content magnifying-icon--wrapper">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <img src="/assets/images/icons/search.svg" alt="search" class="search-icons">
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search for matches with date"
                aria-describedby="basic-addon1" id="search-input--field">
            <button type="button" class="btn btn-primary btn-search">Search</button>
        </div>

        <main class="row-center-content">
            <h4><%= heading %>:</h4>
            <% if(data.length > 0) { %>
            <div class="row">
                <% data.forEach((el)=> { %>
                <div class="card col-md-5">
                    <div class="card-body">
                        <h4>Match Will Start In:</h4>
                        <% if(el.status.isFinished == "true") { %>
                        <h5 class="text-time">GAME OVER</h5>
                        <% }else if(el.status.isFinished == "technical error") { %>
                        <h5 class="text-time" style="color: #e74c3c;">Technical Error</h5>
                        <% } else { %>
                        <h5 class="text-time"><%= el.time %></h5>
                        <% } %>

                        <div class="row">
                            <div class="col-md-6">
                                <p>Date: <span><%= el.date %></span></p>
                            </div>
                            <div class="col-md-6">
                                <p>Time: <span><%= el.time %></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Type: <span><%= el.type %></span></p>
                            </div>
                            <div class="col-md-6">
                                <p>Device: <span><%= el.device %></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Total Team: <span>24</span></p>
                            </div>
                            <div class="col-md-6">
                                <p>Map: <span><%= el.map %></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Entry Fee: <span><%= el.fee %></span></p>
                            </div>
                            <div class="col-md-6">
                                <p>Winning Prize: <span><%= el.prize %></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <% if(el.status.isFinished == "false") { %>
                                <p>Status: <span class="match-stats status--success">Registration Opened</span></p>
                                <% }else if(el.status.isFinished == "true"){ %>
                                <p>Status: <span class="match-stats status--success">Completed</span></p>
                                <% }else if(el.status.isFinished == "technical error"){ %>
                                <p>Status: <span class="match-stats status--pending">Cancel(Technical Error)</span></p>
                                <% }else if(el.status.isFinished == "registration closed"){ %>
                                <p>Status: <span class="match-stats status--pending">Registration Closed</span></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <a href="/admin/match-detail?id=<%= el.id %>" target="_blank" class="btn-view--details">
                        View Details
                    </a>
                </div>
                <% }) %>
            </div>
            <% } else { %>
            <h4>No result found !!</h4>
            <% } %>
        </main>
        <% if (pages > 0) { %>
        <div class="row-center-content">
            <nav aria-label="Page navigation example" style="float: right;">
                <ul class="pagination">
                    <% if (current == 1) { %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="/admin/dashboard?page=<%= current - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous </span>
                        </a>
                    </li>
                    <% } %>
                    <% var i = (Number(current) > 4 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                    <li class="page-item"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                    <li class="page-item"><a class="page-link" href="/admin/dashboard?page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item"><a class="page-link">...</a></li>
                    <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="/admin/dashboard?page=<%= parseInt(current) + 1 %>"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <% } %>
    </section>
    <script type="module" src="/assets/js/admin/admin-Dashboard.js"></script>
</body>

</html>