<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Highlights</title>
    <%- include('./Dashboard_Common/font.ejs') %>
    <link rel="stylesheet" href="/styles/style-MatchHighlights.css">
    <link rel="icon" href="/assets/images/Logo.png" type="image/png">
</head>

<body>
    <section>
        <%- include('./Dashboard_Common/side-nav.ejs') %>
        <div class="main-wrapper">
            <% if(data.length > 0) { %>
            <% data.forEach((el) =>{ %>
            <div class="match-highlights-wrapper">
                <h3>Match Highlights: (<%= el.date %>)</h3>
                <div class="highlights">
                    <% el.match.forEach((element) => { %>
                    <div>
                        <% if(element.highlights === undefined) { %>
                        <iframe src="/assets/images/Image__1.png" class="video"></iframe>
                        <% } else { %>
                        <iframe src="<%= element.highlights %>" class="video"></iframe>
                        <% } %>
                        <figcaption>(<%= element.time %> - <%= element.device %> <%= element.type %>)</figcaption>
                    </div>
                    <% }) %>
                </div>
            </div>
            <% }) %>
            <% }else { %>
            <h1 style="margin-top: 30px; margin-left: 4%;">No match highlights are available for now !! Please check
                after some time.</h1>
            <% } %>

            <!-- First -->
            <!-- <div class="match-highlights-wrapper">
                <h3>Upcoming Matches: (23-07-2020)</h3>
                <div class="highlights">
                    <div>
                        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                        <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                    </div>

                    <div>
                        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                        <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                    </div>

                    <div>
                        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                        <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                    </div>

                </div>
            </div> -->
        </div>
    </section>

</body>

</html>