<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recent Winner</title>
    <%- include('./Dashboard_Common/font.ejs') %>
    <link rel="stylesheet" href="/Styles/style-RecentWinner.css" type="text/css" />
    <link rel="icon" href="/assets/images/Logo.png" type="image/png" />

    <!-- <link rel="shortcut icon" href="" /> -->
</head>

<body>
    <section>
        <%- include('./Dashboard_Common/side-nav.ejs') %>
        <div class="main-wrapper">
            <div class="row">
                <% if(data.length > 0) { %>
                <% data.forEach((el)=>{ %>
                <h3>Matches Results : (<%= el.date %>)</h3>
                <div class="matches-wrapper">
                    <% el.match.forEach((element) => { %>
                    <div class="match">
                        <div>
                            <p class="match__title">Match Started At</p>
                            <h2 class="match__time"> <%= element.time %> </h2>

                            <div class="container__matchType">
                                <p class="matchTypeContainer__text">
                                    Match Type :<span class="matchTypeContainer__type match--mobile">
                                        (<%= element.type %>) <%= element.device %>
                                    </span>
                                </p>
                            </div>

                            <div class="container__matchMap">
                                <p class="matchMapContainer__text">
                                    Match Map :<span class="matchMapContainer__type">
                                        <%= element.map %>
                                    </span>
                                </p>
                            </div>

                            <div class="match__prize">
                                <p class="match__prize__text">
                                    Winning Prize:<span class="match__prize__value">
                                        NRS <%= element.prize %></span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="winner-text--wrapper">
                            <% if(element.status.winners[0].first_winner.members.length > 0) { %>
                            <h3 class="winner--title">WINNER</h3>
                            <h2 class="winner--subtitle"><%= element.status.winners[0].first_winner.team_name %></h2>
                            <table width="100%">
                                <tr>
                                    <td width="30%" class="member-name-bold">
                                        <%= element.status.winners[0].first_winner.members[0].name %>
                                    </td>
                                    <td width="30%" class="member-charId-bold">
                                        <%= element.status.winners[0].first_winner.members[0].character_id %></td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">
                                        <%= element.status.winners[0].first_winner.members[1].name %>
                                    </td>
                                    <td width="30%" class="member-charId-bold">
                                        <%= element.status.winners[0].first_winner.members[1].character_id %></td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">
                                        <%= element.status.winners[0].first_winner.members[2].name %>
                                    </td>
                                    <td width="30%" class="member-charId-bold">
                                        <%= element.status.winners[0].first_winner.members[2].character_id %></td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">
                                        <%= element.status.winners[0].first_winner.members[3].name %>
                                    </td>
                                    <td width="30%" class="member-charId-bold">
                                        <%= element.status.winners[0].first_winner.members[3].character_id %></td>
                                </tr>
                            </table>
                            <% } else { %>
                            <h3 class="winner--title" style="padding-right: 20px;">Result will be updated soon !!</h3>
                            <% } %>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <% }) %>
                <% } else { %>
                <h1 style="margin-top: 30px; margin-left: 19px;">No recent winners are available for now !!</h1>
                <% } %>
            </div>
        </div>
    </section>
    <%- include("./Dashboard_Common/footer.ejs") %>
</body>

</html>